<div data-role="view" data-title="Account List" data-layout="main" data-model="app.accountListView1" data-show="app.accountListView1.onShow" data-after-show="app.accountListView1.afterShow">
    <!-- START_CUSTOM_CODE_accountListView1 -->
    <!-- END_CUSTOM_CODE_accountListView1 -->
    <ul data-role="listview" data-style="inset" data-template="accountListView1ModelTemplate" data-bind="{ source: accountListView1Model.dataSource}" data-pull-to-refresh="true" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_accountListView1Model -->
    <!-- END_CUSTOM_CODE_accountListView1Model -->
    <script type="text/x-kendo-template" id="accountListView1ModelTemplate">
        <div class="image-with-text">
            <h3>#: data['Type'] #</h3>
            <p>#: data['Notes'] #</p>
        </div>
    </script>
</div>